---
import Book from "../components/Book.astro";
import Toc from "../components/Toc.astro";
import TocEntry from "../components/TocEntry.astro";
import ItemLayout from "../layouts/ItemLayout.astro";
import { getCollection } from "astro:content";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("de");

const books = await getCollection("books", ({ id }) => {
  return id.startsWith(i18next.language);
});
---

<ItemLayout>
  <h1 slot="header">{t("books.header")}</h1>
  <Toc slot="toc">
    {
      books.map((p) => (
        <TocEntry href={"#".concat(p.data.title)} text={p.data.title} />
      ))
    }
  </Toc>
  <Fragment slot="items">
    {
      books.map((p) => (
        <li>
          <Book book={p} />
        </li>
      ))
    }
  </Fragment>
</ItemLayout>
