---
import Layout from "../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("de");
---

<Layout title="Welcome to Astro.">
  <div class="intro" slot="main">
    <p>{t("index.p1")}</p>
    <p>{t("index.p2")}</p>
    <p>{t("index.p3")}</p>
  </div>
</Layout>

<style>
  .intro {
    background-color: var(--container-low);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 700px;
  }
</style>
