---
import Layout from "../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("de");
---

<Layout title="Welcome to Astro.">
  <div class="intro" slot="main">
    <p>
      <Trans i18nKey="index.p1"><i lang="en">Fullstack Developer</i></Trans>
    </p>
    <p>{t("index.p2")}</p>
    <p>{t("index.p3")}</p>
  </div>
</Layout>

<style>
  .intro {
    margin-top: 10%;
    align-self: flex-start;
    background-color: var(--container-low);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 700px;
    border-radius: 10px;
    box-shadow:
      1px 1px 1px 2px var(--surface-dim),
      -1px -1px 1px 2px var(--surface-dim);
  }
</style>
