---
import Portrait from "../components/Portrait.astro";
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";
import portrait from "../images/portrait-300x200.jpg";
import { t, changeLanguage } from "i18next";
import ResumePersonalInfo from "../components/ResumePersonalInfo.astro";

changeLanguage("de");

const dates = {
    edag: {
        fromDate: new Date(2021, 4),
        toDate: new Date(2023, 9),
    },
    gvs1: {
        fromDate: new Date(2022, 2),
        toDate: new Date(Date.now()),
    },
    gvs2: {
        fromDate: new Date(2023, 3),
        toDate: new Date(2021, 4),
    },
    kit: {
        fromDate: new Date(2021, 4),
        toDate: new Date(2023, 4),
    },
    hs: {
        fromDate: new Date(2015, 9),
        toDate: new Date(2020, 9),
    },
};
---

<Layout title="Welcome to Astro.">
  <div class="container" slot="main">
    <h1>{t("resume.header")}</h1>
    <section class="personal-info">
      <ResumePersonalInfo />
      <div class="portrait">
        <Portrait src={portrait.src} />
      </div>
    </section>
    <div class="timelines">
      <Timeline
        title={t("work")}
        events={[
          {
            fromDate: dates.edag.fromDate,
            toDate: dates.edag.toDate,
            description: t("edag.description"),
          },
          {
            fromDate: dates.gvs1.fromDate,
            toDate: dates.gvs1.toDate,
            description: t("gvs1.description"),
          },
          {
            fromDate: dates.gvs2.fromDate,
            toDate: dates.gvs2.toDate,
            description: t("gvs2.description"),
          },
        ]}
      />
      <Timeline
        title={t("training")}
        events={[
          {
            fromDate: dates.kit.fromDate,
            toDate: dates.kit.toDate,
            description: t("kit.description"),
          },
          {
            fromDate: dates.hs.fromDate,
            toDate: dates.hs.toDate,
            description: t("hs.description"),
          },
        ]}
      />
    </div>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 800px;
  }

  .timelines {
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .personal-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
</style>
