---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<article>
  <p>{text}</p>
</article>

<style>
  article {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    border-radius: 40px;
    padding: 8px 12px;
    box-shadow: 0.2px 0.2px 0.2px var(--secondary);
  }
  p {
    text-transform: uppercase;
  }
</style>
