---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div>
  <p>{text}</p>
</div>

<style>
  div {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    border-radius: 40px;
    padding: 8px 12px;
    box-shadow:
      0.2px 0.2px 1px 0.5px var(--secondary),
      -0.2px -0.2px 1px 0.5px var(--secondary);
  }
  p {
    text-transform: uppercase;
  }
</style>
