---

---

<div class="footer">
  <a href="https://www.linkedin.com/in/christopher-wunder-271b6b215/"
    >Linkedin</a
  >
  <a href="mailto:wunder.christopher95@gmail.com">Email</a>
</div>

<style>
  .footer {
    background-color: var(--surface-dim);
    color: var(--on-surface);
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  a {
    text-decoration: none;
    padding: 10px 0;
    font-weight: 500;
    color: var(--primary);
  }
  a:link {
    text-decoration: underline;
  }
  a:hover {
    color: var(--secondary);
  }
</style>
