---
import { localizePath } from "astro-i18next";
import { LanguageSelector } from "astro-i18next/components";
import { t } from "i18next";
---

<div class="header">
  <ul>
    <li><a href={localizePath("/")}>{t("nav.home")}</a></li>
    <li><a href={localizePath("/resume")}>{t("nav.resume")}</a></li>
    <li><a href={localizePath("/projects")}>{t("nav.projects")}</a></li>
    <li><a href={localizePath("/books")}>{t("nav.books")}</a></li>
  </ul>
  <LanguageSelector class="language" showFlag={true} />
</div>

<style>
  .header {
    background-color: var(--surface-dim);
    color: var(--on-surface);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  .header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .header li {
    padding: 10px;
    background-color: var(--container);
    color: var(--on-surface);
    border-radius: 3px;
    box-shadow: 0.2px 0.2px black;
  }
  .header a {
    text-decoration: none;
    color: inherit;
  }
  .language {
    padding: 5px 10px;
    border-radius: 3px;
  }
</style>
