---
import { localizePath } from "astro-i18next";
import { t } from "i18next";
import NavItem from "./NavItem.astro";
import LanguageSelector from "./LanguageSelector.astro";
---

<div class="header">
  <ul>
    <li><NavItem href={localizePath("/")} text={t("nav.home")} /></li>
    <li><NavItem href={localizePath("/resume")} text={t("nav.resume")} /></li>
    <li>
      <NavItem href={localizePath("/projects")} text={t("nav.projects")} />
    </li>
    <li><NavItem href={localizePath("/books")} text={t("nav.books")} /></li>
  </ul>
  <LanguageSelector />
</div>

<style>
  .header {
    background-color: var(--surface-dim);
    color: var(--on-surface);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  .header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  @supports (display: grid) {
    .header ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 600px) {
      .header ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
</style>
