---
import Layout from "./Layout.astro";
---

<Layout title="Welcome to Astro.">
  <section slot="main">
    <slot name="header" />
    <slot name="toc" />
    <ul class="items">
      <slot name="items" />
    </ul>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .items {
    max-width: 600px;
  }
</style>
